*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-image: image(1.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.menu-area li a{
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: 1;
}
.menu-area li{
  list-style: none;
  display: inline-block;
}
.custom-padding{
  padding-top: 25px;
}
nav{
    position: relative;
    padding: 10px 20px 10px 20px;
    text-align: right;
    z-index: 1;
    background: #B53737;
    margin: 0 auto;
    width:calc(100% - 60px);
}
.logo{
    width: 15%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding-left: 2%;
}
.menu-area li a:hover{
  background: #fff;
  color: #B53737;
    text-decoration: underline;
}
.topnav .search-container{
  float:right;
}
.topnav input[type=text]{
  padding: 6px;
  margin-top: 0px;
  font-size: 16px;
  border:none;
}

.kurv{
  float: right;
  text-align: right;
  padding-right: 2%;
}
