span.a{
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 2px solid red;
  background-color: white;
}

span.b{
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 2px solid red;
  background-color: white
}
body{
    background-image:url("1.jpg");
    background-color: #cccccc;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
