span.a{
  display: inline-block;
  width: 275px;
  height: 500px;
  padding: 50px;
  border: 2px solid black;
  background-color: white;
  position: relative;
  left: 30px;
}

span.b{
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 2px solid red;
  background-color: white
}
body{
    background-image: url(1.jpg);
    background-color: #cccccc;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
